.mixes {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    gap: 0.5rem;
    text-align: left;
    background-color: #F2F2F2;
    padding: 1rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.card img {
    background-color: #fff;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    
}

.card li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.gramms {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
    color: #4F4F4F;
}

.gramms li {
    display: flex;
    font-weight: 500;
    font-size: 1.1rem;
}
